<%-include('header')-%>


    <h2>Login System</h2>
      <form action="/submit" method="POST">
    <label>email:</label>
    <input type="email" name="email" required /><br><br>
    
    <label>password:</label>
    <input type="password" name="password" required /><br><br>

    <button type="submit">Submit</button>

    <%-include('footer')-%>
    

